<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    
    <script src="https://cdn.bootcss.com/socket.io/2.3.0/socket.io.dev.js"></script>
    <link rel="stylesheet" href="./css/main.css">

</head>
<body>
<div id="appContainer">
    <el-input v-model="socketUrl" class="width400"></el-input>
    <el-button type="primary" @click="createSocket">连接接socketio</el-button>
    
    <br>
    <el-input type="textarea" placeholder="请输入消息" v-model="textarea" maxlength="30" show-word-limit
              class="width400 top10">
    </el-input>
    <el-button type="primary" @click="createNewMsg">建立一条消息</el-button>
    <br>
    输出信息：
    <el-input type="textarea" v-model="receivedMsg" maxlength="30" show-word-limit class="width400 top10">
    </el-input>

</div>

<script>
    var mSocket
    var appVue = new Vue({
        el: "#appContainer",
        data() {
            return {
                socketUrl: 'http://127.0.0.1:20190',
                textarea: '',
                receivedMsg: ''
            }
        },
        methods: {
            createNewMsg() {
                if (!mSocket){
                    this.$message.error("清先链接socket")
                }
                mSocket.emit("remove_booking_orders", {msg: this.textarea})
            },
            createSocket() {
                mSocket = io.connect(this.socketUrl + "?namespace1=123");
                mSocket.on("booking_orders", data => {
                    console.log(data)
                    this.receivedMsg = JSON.stringify(data)
                })
            }
        }
    })


</script>

</body>
</html>
